/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { ... }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) { ... }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) { ... }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199px) { ... }


.row [class^="col-"] {    

    
    /* background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2); */
}

.taille{

width: 250px;
height: auto;


}

.taillevideo{
    
    width: 535px;
    height: 315;
    
}


.fa {
    color: #A22335;
}
